body {
    margin: 0;
    font-family: 'Inter', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    width: 100%;
    width: 600px;
    height: 549px;
}